header {
	text-align: center;

}

.employee{
		
		margin: 0 auto;
		width: 900px;
		height: 400px;
		background-color: black;
}

/*
.employeeimageholder, .employeetextholder{
		border-style: solid;
		border-color: white;
}*/

h1 {
	text-align:center;
}

.employeetextholder{
	text-align: left;
	padding: 10px;
	width: 400px;
	height: 350px;
	display: inline-block;
	background-color: gray;
}