header {
	text-align: center;
	font-size: 40px;
	padding-top: 100px;
}

.employee{
		padding: 15px;
		margin: 0 auto;
		width: 900px;
		height: 400px;
		background-color: black;
}

img {
	width: 250px;
}

/*
.employeeimageholder, .employeetextholder{
		border-style: solid;
		border-color: white;
}*/

h1 {
	text-align:center;
	font-size: 30px;
}

.employeetextholder{
	text-align: left;
	padding: 10px;
	width: 615px;
	height: 370px;
	display: inline-block;
	vertical-align: top;
	background-color: gray;
	color: lightgreen;
	font-size: 24px;
}