
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}


.jumbotron, .features{
	
	background: green;
	max-width: 960px;
	margin:0 auto;
}
#about{
	text-align: center;
	max-width:960px;
	max-width: 960px;
	margin:0 auto;

}
}

.content-image{
	width:100%;
}

.icon{

	width:150px;
	height:150px;
	margin:0 auto;
	float:left;
	background: blue;
}

h1,h2{
	color:navy;
	text-transform: uppercase;
	text-align: center;
}
