
body{
	margin:0;
}
.jumbotron{
	
	background: green;
	max-width: 960px;
	margin:0 auto;
	text-align: center;
}

.features{
	margin:0 auto;
	text-align: center;
	max-width: 960px;
	font-size:70px;
	background-color: #E9FF67
}

#about{
	text-align: center;
	max-width:960px;
	max-width: 960px;
	margin:0 auto;

}

.mainphoto{
	width:100%;
	
	margin:0 auto;
}

.icons{

	width: 150px;
    height: 80;
    display: inline-block;
    margin: 0 auto;
    padding: 40px;
}

.icons:hover{
	background-color: #E8580C
}

h2{
	color:navy;
	text-transform: uppercase;
	text-align: center;

}


