ul{
	list-style-type: none;
	text-align: center;
	margin:0;
}

.navbar li{
	display: inline-block;
	margin: 0px;
}

nav {
	margin: 0 auto;
	max-width:960px;
	background-color: #E9FF67;
}

.footer_left{
	float: left;
	padding-left: 300px;
}

.footer_right{
	float: right;
	padding-right: 300px;
}

a{
	text-decoration: none;
	color:green;
}

.navbox{
	color: black;
    padding: 30px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}

.navbox:hover{
background-color: #E8580C;
color:white;
}