ul{
	list-style-type: none;
	text-align: center;
	margin:0;
}

.navbar li{
	display: inline-block;
	margin: 0px;
}

nav{
	width:960px;
	background-color: #E9FF67;
	position: fixed;
	left: 50%;
	right:50%;
	margin-left: -480px;

}

footer{
	background-color: #E9FF67;
	height: 120px;
	max-width:960px;
	margin: 0 auto;
}

.footer_left{
	float: left;
	padding-top:20px;
	padding-left:200px;
}

.footer_right{
	float: right;
	padding-top:20px;
	padding-right:200px;
}

a{
	text-decoration: none;
	color:green;
}

.navbox{
	color: black;
    padding: 30px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}

.navbox:hover{
background-color: #E8580C;
color:white;
}