ul{
	list-style-type: none;
	text-align: center;
}

.navbar li{
	display: inline-block;
	margin: 20px;
}

nav {
	margin: 0 auto;
}

.footer_left{
	float: left;
	padding-left: 300px;
}

.footer_right{
	float: right;
	padding-right: 300px;
}