h1 {
text-align: center;
font-size: 36px;
}

.team_box{
	margin: 0 auto;
	width: 800px;
	height: 200px;
}

.photo {
	width:150px; 
	height:150px; 
	background-color: lightgreen; 
	position:inline-block;
	float: left;
	margin: 20px;
}