h1 {
text-align: center;
font-size: 36px;
padding-top:20px;
margin:0;
}

img {
	width:150px;
	height:150px;

}

.team_box{
	margin: 0 auto;
	width: 800px;
	height: 200px;
	padding-bottom:30px;
}

.photo {
	width:150px; 
	height:150px; 
	position:inline-block;
	float: left;
	margin: 20px;
	opacity: .6;
}

.photo:hover{
opacity:1;
	;