

.employee{
		
		margin: 0 auto;
		width: 900px;
		height: 400px;
		background-color: black;
}


.employeeimageholder{
		border-style: solid;
		border-color: white;
}


.employeetextholder{
	text-align: center;
	width: 400px;
	height: 350px;
	float: right;
	background-color: gray;
}